*.bak
*.jpg
*.suo
*.sdf
*.ncb
*.apk
*.pyc
*.swp
*.swo
*.log
*.log*
*.obj
*.idb
*.pdb
*.unitypackage
*.unitypackage.*
*.*proj
*.opensdf
*.userprefs
*.zip
*.7z
*.7z.meta
*.user
*.filters
*.hdf5
*.h5
*.csv
*.~ml
.svn
.~*
data
# thirdpart/*
config.py
